.login {
  height: 100%;
  position: relative;
  background-image: url("../../assets/img/background.png");
  background-size: cover;

  .header {
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 6%;

    img {
      margin-left: 75px;
      margin-right: 20px;
    }

    .title {
      font-size: 45px;
      font-family: "Source Han Sans CN-Medium, Source Han Sans CN";
      font-weight: 500;
      color: #ffffff;
    }
  }

  .body {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 62.5%;
    height: 60%;

    .left {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 62%;
      background: url("../../assets/img/login.png") no-repeat;
      z-index: 3;
    }

    .bkg {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      background: url("../../assets/img/rectangle.png") no-repeat;
      background-size: 130%;
      background-position-x: center;
      background-position-y: center;
      z-index: 1;
    }

    .right {
      position: absolute;
      top: 0%;
      right: 0%;
      height: 100%;
      width: 42.8%;
      background: #ffffff;
      z-index: 2;
    }

    .main {
      background: #ffffff;
      position: absolute;
      top: 0%;
      right: 0%;
      height: 100%;
      width: 42.8%;
      z-index: 2;

      .main-title {
        font-size: 21px;
        font-family: Source Han Sans CN-Bold, Source Han Sans CN;
        font-weight: bold;
        color: #333333;
        line-height: 29px;
        position: absolute;
        top: 19.8%;
        left: 28.6%;
      }

      .user-input {
        width: 76%;
        height: 10%;
        position: absolute;
        top: 33%;
        left: 13%;

        .user-icon {
          background: url("../../assets/img/user.png") no-repeat;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 36%;
          left: 2%;
        }

        .user {
          -webkit-box-shadow: 0 0 0 1000px white inset !important;
          outline: unset;
          border: none;
          margin-left: 12%;
          width: 90%;
          height: 100%;
          position: absolute;
        }

        .underline {
          width: 100%;
          height: 1px;
          background: #cac8c8;
          border-radius: 0px 0px 0px 0px;
          opacity: 1;
          position: absolute;
          bottom: 0;
        }
      }

      .password-input {
        width: 76%;
        height: 10%;
        position: absolute;
        top: 55%;
        left: 13%;

        .password-icon {
          background: url("../../assets/img/password.png") no-repeat;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 36%;
          left: 2%;
        }

        .password {
          -webkit-box-shadow: 0 0 0 1000px white inset !important;
          outline: unset;
          border: none;
          margin-left: 12%;
          width: 90%;
          height: 100%;
          position: absolute;
        }

        .underline {
          width: 100%;
          height: 1px;
          background: #cac8c8;
          border-radius: 0px 0px 0px 0px;
          opacity: 1;
          position: absolute;
          bottom: 0;
        }
      }

      .main-button {
        position: absolute;
        bottom: 12.2%;
        left: 13%;
        width: 76%;
        text-align: center;
        background: #058b86;
        box-shadow: 0px 3px 15px 1px rgba(0, 111, 107, 0.23);
        border-radius: 2px 2px 2px 2px;
        color: #ffffff;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
}
