.leakage-analysis {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(2, 49%);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    align-content: stretch;
    justify-content: space-between;

    .card-box {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;

        .title {
            display: flex;
            align-items: center;
            padding: 18px 17px;
            height: 2.3rem;
            display: flex;
            justify-content: space-between;

            .letf-tip {
                display: flex;
                align-items: center;

                .tip-color {
                    width: 0.4rem;
                    height: 1.1rem;
                    margin-right: 5px;
                    background-color: #189E99;
                }

                h3 {
                    font-size: 20px;
                    font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                    font-weight: 500;
                    color: #333333;
                    line-height: 0px;
                    padding: 0 0 0 5px;
                }
            }

        }

        .card-content {
            flex: 1;
            display: flex;

            div {
                flex: 1;
            }
        }
    }
}