.warn-events-book {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: -10px;

    .card-box {
        flex-grow: 1;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .table-body {
            flex-grow: 1;
            padding: 10px 30px 5px 30px;
            .el-table__header tr,
            .el-table__header th {
                padding: 0;
                height: 40px;
            }

            .el-table {
                border-color: #E9E9E9;
            }

            .el-table__body tr:hover>td {
                background-color: #F0F7FD !important;
            }

            .status {
                margin-left: 25%;
                display: flex;
            }

            .el-button {
                color: #19807C;
            }
        }
    }
}