.warn-events-book {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    // justify-content: space-between;

    .card-box {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        // .card-content {
        //     flex: 1;
        // }

        .table-body {
            flex-grow: 1;
            padding: 10px 30px 5px 30px;

            .el-table {
                border-color: #E9E9E9;
            }

            // .el-table__body tr:hover > td{
            //     background-color: #F0F7FD !important;
            // }

            .el-button {
                color: #19807C;
            }
        }

        .table-pager{

            .span{
                font-size: 14px;
                font-family:Source Han Sans CN-Normal, Source Han Sans CN;
                font-weight: 400;
            }

            .pager-input{
                text-align: center;
                font-family:Source Han Sans CN-Normal, Source Han Sans CN;
                font-weight: 400;
                width: 30px;
                height: 30px;
            }

            input::-webkit-outer-spin-button,
             input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

        }
    }

    // .table-body {
    //     flex: 1;
    // }
}


.el-icon-arrow-left{
    width: 14px;
    height: 14px;
    content: url(../../../assets/img/arrow-left.png);
}


.el-icon-d-arrow-left{
    width: 14px;
    height: 14px;
    content: url(../../../assets/img/d-arrow-left.png);
}


.el-icon-arrow-right{
    width: 14px;
    height: 14px;
    content: url(../../../assets/img/arrow-right.png);
}

.el-icon-d-arrow-right{
    width: 14px;
    height: 14px;
    content: url(../../../assets/img/d-arrow-right.png);
}