.warn-events-book {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    // justify-content: space-between;

    .card-box {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .card-content {
            flex: 1;
        }

        .table-body {
            // width: 83vw;
            padding: 10px 30px 5px 30px;
        }

        .table-pager{

            .span{
                font-size: 14px;
                font-family:Source Han Sans CN-Normal, Source Han Sans CN;
                font-weight: 400;
            }

            .pager-input{
                text-align: center;
                font-family:Source Han Sans CN-Normal, Source Han Sans CN;
                font-weight: 400;
                width: 30px;
                height: 30px;
            }

            input::-webkit-outer-spin-button,
             input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

        }
    }

    // .table-body {
    //     flex: 1;
    // }
}