.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 3px 10px 1px rgba(0, 104, 163, 0.1);

        .left-title {
            display: flex;
            align-items: center;
            margin-left: 1rem;

            img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
            }

            .main-title {
                text-align: left;
                font-size: 2rem;
                font-weight: bold;
                color: #333333;
            }
        }

        .tabs {
            li {
                span {
                    margin-left: 5px;
                }
            }
        }

        .right-compoment {
            margin-right: 1.5rem;
        }
    }

    .view-body {
        display: flex;
        flex: 1;

        .left-menu {
            font-family: Source Han Sans CN;
            font-weight: 400;
            background-color: #006F6B;

            .el-menu {
                border-right-width: 0;
            }

            .el-menu-item {
                min-width: 9rem !important;
            }

            .online {
                .circel {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #00FFDC;
                }

                span {
                    color: #FFFFFF;
                }
            }

            .off-line {
                .circel {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #C4C4C4;
                }

                span {
                    color: rgba(255, 255, 255, .6);
                }
            }

            .center-title {
                padding: 16px 12px 16px 17px;
                width: 9rem;

                .position-title {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #FFFFFF;
                }

                .online-tips {
                    .circle {
                        margin-left: 41px;
                        background: #00ffdc;
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                    }

                    .online-text {
                        font-size: 18px;
                        color: #666666
                    }

                }
            }

            .el-menu-item.is-active {
                background-color: #189E99 !important;
            }

            .el-menu {
                height: 100%;
                width: 12rem;
            }
        }

        .right-body {
            flex: 1;
            padding: 10px 12px;
            background-color: #F0F7FD;
        }
    }
}

.icon-1,
.el-icon-document {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/1.png);
}

.icon-1-1,
.el-icon-document {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/1-1.png);
}

.icon-2,
.el-icon-document {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/2.png);
}

.icon-2-1,
.el-icon-document {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/2-1.png);
}

.icon-3,
.el-icon-document {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/3.png);
}

.icon-3-1,
.el-icon-document {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/3-1.png);
}

.tab-pane {
    font-size: 22px;
    font-family: "Source Han Sans CN-Regular, Source Han Sans CN";
    font-weight: 400;
    color: #585858;
}