.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 3px 10px 1px rgba(0, 104, 163, 0.1);

        .left-title {
            display: flex;
            align-items: center;
            margin-left: 1rem;

            img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
            }

            .main-title {
                text-align: left;
                font-size: 1.5rem;
                font-weight: bold;
                color: #333333;
            }
        }

        .tabs {
            li {
                border-bottom-width: 4px !important;

                span {
                    margin-left: 5px;
                }
            }
        }

        .right-compoment {
            margin-right: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .time {
                margin-right: 30px;
                text-align: center;
                font-size: 16px;
                font-family: Source Han Sans CN-Regular, Source Han Sans CN;
                font-weight: 400;
                color: #666666;
                line-height: 17px;
            }

            .msg {
                width: 15px;
                height: 15px;
                cursor: pointer;
                background: url('../../assets/img/msg-defalut.png') no-repeat;
                background-size: 100%;

                &:hover {
                    background: url('../../assets/img/msg-hover.png') no-repeat;
                    background-size: 100%;
                }

                &:active {
                    background: url('../../assets/img/msg-click.png') no-repeat;
                    background-size: 100%;
                }
            }

            .setting {
                width: 15px;
                height: 15px;
                cursor: pointer;
                background: url('../../assets/img/setting-defalut.png') no-repeat;
                background-size: 100%;

                &:hover {
                    background: url('../../assets/img/setting-hover.png') no-repeat;
                    background-size: 100%;
                }

                &:active {
                    background: url('../../assets/img/setting-click.png') no-repeat;
                    background-size: 100%;
                }
            }
        }
    }

    .view-body {
        display: flex;
        height: calc(100vh - 60px);

        .left-menu {
            font-family: Source Han Sans CN;
            font-weight: 400;
            background-color: #006F6B;

            .el-menu {
                border-right-width: 0;
            }

            .el-menu-item {
                min-width: 9rem !important;
            }

            .online {
                .circel {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin-right: 12px;
                    background-color: #00FFDC;
                }

                span {
                    color: #FFFFFF;
                }
            }

            .off-line {
                .circel {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin-right: 12px;
                    background-color: #C4C4C4;
                }

                span {
                    color: rgba(255, 255, 255, .6);
                }
            }

            .center-title {
                padding: 16px 12px 16px 17px;
                box-sizing: border-box;
                width: 200px;

                .position-title {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #FFFFFF;
                }

                .online-tips {
                    .circle {
                        margin-left: 41px;
                        background: #00ffdc;
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                    }

                    .online-text {
                        font-size: 18px;
                        color: #666666
                    }

                }
            }

            .el-menu-item.is-active {
                background-color: #189E99 !important;
            }

            .el-menu {
                height: 100%;
                width: 200px;
            }
        }

        .right-body {
            width: calc(100vw - 200px);
            box-sizing: border-box;
            display: flex;
            padding: 20px;
            background-color: #F0F7FD;
        }
    }
}

.el-icon-bianyaqi {
    width: 18px;
    height: 18px;
    content: url(../../assets/img/1-1.png);
}

.el-icon-kaiguan{
    width: 18px;
    height: 18px;
    content: url(../../assets/img/2-1.png);
}

.tab-pane {
    font-size: 22px;
    font-family: "Source Han Sans CN-Regular, Source Han Sans CN";
    font-weight: 400;
    color: #585858;
}