.history-standing-book {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .card-box {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .title {
            display: flex;
            align-items: center;
            padding: 18px 17px;
            height: 50px;

            .tip-color {
                width: 0.4rem;
                height: 1.1rem;
                margin-right: 5px;
                background-color: #189E99;
            }

            h3 {
                font-size: 20px;
                font-family: "Source Han Sans CN-Medium, Source Han Sans CN";
                font-weight: 500;
                color: #333333;
                line-height: 0px;
                padding: 0 0 0 5px;
            }
        }

        .row-charts {
            display: flex;
            justify-content: space-evenly;
            height: calc(100% - 50px);

            div {
                flex: 1;
            }
        }

        .card-content {
            flex: 1;
        }

        .table-content {
            padding: 0 30px 5px 30px;

            .el-table {
                border-color: #E9E9E9;
            }

            .el-table__body tr:hover>td {
                background-color: #F0F7FD !important;
            }
        }
    }

    .top-charts {
        height: 39.9%;
        margin-bottom: 1rem;
    }

    .table-body {
        // flex: 1;
        flex-grow: 1;
    }
}