.history-standing-book {
    height: 100%;
    width: 100%;
    margin-top: -10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .el-dialog {
        border-radius: 10px 10px 10px 10px;

        .el-dialog__header {
            padding: 20px 20px 20px !important;
            background: #006F6BFF !important;
            border-radius: 10px 10px 0px 0px;
            position: relative !important;

            .el-dialog__headerbtn {
                font-size: 45px !important;
                top: 15% !important;
                right: 3% !important;

                .el-icon {
                    color: #ffffff !important;
                }
            }

            .el-dialog__title {
                color: #FFFFFFFF !important;
            }
        }

        .el-dialog__body {
            padding: 0 !important;
        }
    }

    .card-box {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        .title {
            display: flex;
            align-items: center;
            padding: 0 17px;
            height: 18%;

            .tip-color {
                width: 0.4rem;
                height: 1.1rem;
                margin-right: 5px;
                background-color: #189E99;
            }

            h3 {
                font-size: 1.5vw;
                font-family: "Source Han Sans CN-Medium, Source Han Sans CN";
                font-weight: 500;
                color: #333333;
                padding: 0 0 0 5px;
            }
        }

        .row-charts {
            display: flex;
            justify-content: space-evenly;
            height: calc(100% - 50px);
            position: relative;

            .full {
                background: url('../../../assets/img/full-defalut.png')no-repeat;
                background-size: 100%;
                z-index: 2000;
                cursor: pointer;
                position: absolute;
                width: 15px;
                height: 15px;
                right: 57%;
                top: 3%;

                &:hover {
                    background: url('../../../assets/img/full-hover.png')no-repeat;
                    background-size: 100%;
                    z-index: 2000;
                }

                &:active {
                    background: url('../../../assets/img/full-click.png')no-repeat;
                    background-size: 100%;
                    z-index: 2000;
                }
            }

            #electricCharts,
            #voltageCharts {
                flex: 1;
            }
        }

        .card-content {
            flex: 1;
        }

        .table-content {
            padding: 0 22px 5px 22px;

            .el-table {
                border-color: #E9E9E9;
            }

            .el-table__body tr:hover>td {
                background-color: #F0F7FD !important;
            }
        }
    }

    .top-charts {
        height: 39.9%;
        margin-bottom: 1rem;
    }

    .table-body {
        flex-grow: 1;
        .el-table__header tr,
        .el-table__header th {
            padding: 0;
            height: 40px;
        }
    }
}