.real-time-monitoring {
    height: 100%;
    display: flex;
    flex: 1;

    .card-box {
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        .title {
            display: flex;
            align-items: center;
            padding: 16px 17px;

            .tip-color {
                width: 0.4rem;
                height: 1.1rem;
                margin-right: 5px;
                background-color: #189E99;
            }

            h3 {
                font-size: 20px;
                font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                font-weight: 500;
                color: #333333;
                line-height: 0px;
                padding: 0 0 0 5px;
            }
        }
    }

    .left-layout {
        width: 70.4%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        .data-show {
            margin-bottom: 10px;
            display: flex;
            height: 51%;

            .data-left,
            .data-center,
            .data-right {
                width: 33.7%;
                height: 96.9%;
                margin-right: 20px;
                background-color: #ffffff;

                .card-content {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    .electric {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 100%;

                        .tip {
                            .icon {
                                width: 5rem;
                                height: 5.5rem;
                                margin-right: 1rem;
                            }

                            .Ia {
                                background: url("../../../assets/img/Ia.png") no-repeat;
                                background-size: 100%;
                            }

                            .Ib {
                                background: url("../../../assets/img/Ib.png") no-repeat;
                                background-size: 100%;
                            }

                            .Ic {
                                background: url("../../../assets/img/Ic.png") no-repeat;
                                background-size: 100%;
                            }

                            .Va {
                                background: url("../../../assets/img/Ua.png") no-repeat;
                                background-size: 100%;
                            }

                            .Vb {
                                background: url("../../../assets/img/Ub.png") no-repeat;
                                background-size: 100%;
                            }

                            .Vc {
                                background: url("../../../assets/img/Uc.png") no-repeat;
                                background-size: 100%;
                            }

                            display: flex;
                            align-items: center;
                            flex-basis: 50%;
                            margin-bottom: 0.8rem;
                        }

                        .value {
                            display: flex;
                            align-items: baseline;
                            flex-basis: 25%;

                            .num {
                                font-size: 2rem;
                                font-family: font-demo;
                            }
                        }
                    }

                    .max,
                    .average {
                        width: 87.8%;
                        height: 44.2%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        border-radius: 8px 8px 8px 8px;

                        .icon {
                            width: 5rem;
                            height: 5rem;
                        }

                        .value {
                            display: flex;
                            align-items: baseline;

                            .num {
                                font-size: 2rem;
                                font-family: font-demo;
                            }
                        }
                    }

                    .max {
                        background: url(../../../assets/img/card1.png) no-repeat;
                        background-size: 100%;
                        background-color: #1D89FF;

                        .first-icon {
                            background: url(../../../assets/img/32959.png) no-repeat;
                            background-size: 100%;
                            width: 29.7%;
                            height: 47.2%;
                        }
                    }

                    .average {
                        background: url(../../../assets/img/card2.png) no-repeat;
                        background-size: 100%;
                        background-color: #02E1E4;

                        .second-icon {
                            background: url(../../../assets/img/32911.png) no-repeat;
                            background-size: 100%;
                            width: 29.7%;
                            height: 47.2%;
                        }
                    }
                }
            }

            .right-unset {
                margin-right: unset;
            }
        }

        .charts-show {
            flex: 1;
            width: 100%;
            margin-right: 20px;
            background-color: #ffffff;

            .line-charts {
                flex: 1;
                display: flex;
                flex-direction: column;

                .charts-content {
                    height: 50.7%;
                    width: 100%;
                }
            }
        }
    }

    .right-layout {
        flex: 1;
        border-radius: 10px;
        background-color: #ffffff;
    }
}