.real-time-monitoring {
    height: 100%;
    width: 100%;
    display: flex;

    .card-box {
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        .title {
            display: flex;
            align-items: center;
            padding: 16px 17px;

            .tip-color {
                width: 0.4rem;
                height: 1.1rem;
                margin-right: 5px;
                background-color: #189E99;
            }

            h3 {
                font-size: 20px;
                font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                font-weight: 500;
                color: #333333;
                line-height: 0px;
                padding: 0 0 0 5px;
            }
        }
    }

    .left-layout {
        width: 70.4%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        .data-show {
            margin-bottom: 10px;
            display: flex;
            height: 51%;

            .data-left,
            .data-center,
            .data-right {
                width: 33.7%;
                height: 96.9%;
                margin-right: 20px;
                background-color: #ffffff;

                .card-content {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    .electric {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;

                        .tip {
                            .icon {
                                width: 64px;
                                height: 70px;
                                margin-right: 1rem;
                            }

                            .Ia {
                                background: url("../../../assets/img/Ia.png") no-repeat;
                                background-size: 100%;
                            }

                            .Ib {
                                background: url("../../../assets/img/Ib.png") no-repeat;
                                background-size: 100%;
                            }

                            .Ic {
                                background: url("../../../assets/img/Ic.png") no-repeat;
                                background-size: 100%;
                            }

                            .Va {
                                background: url("../../../assets/img/Ua.png") no-repeat;
                                background-size: 100%;
                            }

                            .Vb {
                                background: url("../../../assets/img/Ub.png") no-repeat;
                                background-size: 100%;
                            }

                            .Vc {
                                background: url("../../../assets/img/Uc.png") no-repeat;
                                background-size: 100%;
                            }

                            display: flex;
                            align-items: center;
                            margin-left: 2rem;
                        }

                        .value {
                            display: flex;
                            align-items: baseline;
                            flex-direction: column;

                            .text {
                                font-size: 14px;
                                font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                                font-weight: 500;
                                color: #333333;
                            }

                            .bottom-value {
                                display: flex;
                                align-items: baseline;

                                .comp {
                                    font-size: 16px;
                                    font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                                    font-weight: 500;
                                    color: #333333;
                                    margin-left: .6rem;
                                }

                                .num {
                                    font-size: 36px;
                                    font-weight: 400;
                                    color: #189E99;
                                    font-family: font-demo;
                                }
                            }
                        }
                    }

                    .max,
                    .average {
                        width: 87.8%;
                        height: 44.2%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        border-radius: 8px 8px 8px 8px;
                        color: #FFFFFF;

                        .icon {
                            width: 5rem;
                            height: 5rem;
                        }

                        .tip {
                            font-size: 14px;
                            font-family: 'Source Han Sans CN-Regular, Source Han Sans CN';
                            font-weight: 400;
                            color: #FFFFFF;
                            line-height: 0px;
                        }

                        .value {
                            display: flex;
                            align-items: baseline;
                            margin-top: 1rem;

                            .num {
                                font-size: 36px;
                                font-family: font-demo;
                                font-weight: 400;
                                color: #FFFFFF;
                                line-height: 40px;
                            }

                            .comp {
                                font-size: 16px;
                                font-family: 'Source Han Sans CN-Regular, Source Han Sans CN';
                                font-weight: 400;
                                color: #FFFFFF;
                                margin-left: .5rem;
                            }
                        }
                    }

                    .max {
                        background: url(../../../assets/img/card1.png) no-repeat;
                        background-size: 100%;
                        background-color: #1D89FF;

                        .first-icon {
                            background: url(../../../assets/img/32959.png) no-repeat;
                            background-size: 100%;
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .average {
                        background: url(../../../assets/img/card2.png) no-repeat;
                        background-size: 100%;
                        background-color: #02E1E4;

                        .second-icon {
                            background: url(../../../assets/img/32911.png) no-repeat;
                            background-size: 100%;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            .right-unset {
                margin-right: unset;
            }
        }

        .charts-show {
            flex: 1;
            width: 100%;
            margin-right: 20px;
            background-color: #ffffff;

            .line-charts {
                flex: 1;
                display: flex;
            }
        }
    }

    .right-layout {
        flex: 1;
        border-radius: 10px;

        .max-temperature {
            background-color: #ffffff;
            height: 38.5%;
            margin-bottom: 20px;
        }

        .environmental {
            background-color: #ffffff;
            height: 58.7%;
        }

        .title {
            height: 50px;
            box-sizing: border-box;
        }

        .bar-charts-max,
        .bar-charts-environmental {
            height: calc(100% - 50px);
        }
    }
}