.error-state-book {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: -10px   ;
    flex: 1;
    flex-direction: column;

    .layout {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 94.7%;
        .card-box {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: #ffffff;

            .title {
                display: flex;
                align-items: center;
                padding: 0 17px;
                height: 50px;

                .tip-color {
                    width: 0.4rem;
                    height: 1.1rem;
                    margin-right: 5px;
                    background-color: #189E99;
                }

                h3 {
                    font-size: 1.5vw;
                    font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                    font-weight: 500;
                    color: #333333;
                    padding: 0 0 0 5px;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                flex: 1;

                .err-charts,
                .clear-charts {
                    flex: 1;

                    .err-container,
                    .clear-container {
                        height: calc(100% - 50px);
                    }
                }
            }

            .table-body {
                flex: 1;
                padding: 10px 30px 5px 30px;
                text-align: center;
                font-size: 14px;
                font-family: 'Source Han Sans CN-Normal, Source Han Sans CN';
                .el-table__header tr,
                .el-table__header th {
                    padding: 0;
                    height: 40px;
                }
                .el-table__body tr.current-row>td {
                    background-color: #189E99 !important;
                    color: #FFFFFF !important;
                }
            }
        }

        .card-table {
            width: 30%;
            display: block;
            .table-body{
                height: 92.7%;
                .el-table__header tr,
                .el-table__header th {
                    padding: 0;
                    height: 40px;
                }
            }
            .data-tip{
                height: 7.3%;
                div{
                    height: 100%;
                    line-height: 3;
                    text-align: right;
                    margin-right: 30px;
                    font-size: 1.1vw;
                    font-family: Source Han Sans CN-Normal, Source Han Sans CN;
                    font-weight: 400;
                    color: #333333;
                }
                span{
                    font-size: 1.1vw;
                    font-family: Source Han Sans CN-Normal, Source Han Sans CN;
                    font-weight: 400;
                    color: #189E99FF;
                }
            }
        }

        .card-charts {
            width: 70%;
            margin-left: 20px;
        }
    }
}