.params-setting {
    display: flex;
    width: 100%;
    flex: 1;

    .card-box {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        width: 49%;

        .title {
            display: flex;
            align-items: center;
            padding: 18px 17px;
            height: 50px;

            .tip-color {
                width: 0.4rem;
                height: 1.1rem;
                margin-right: 5px;
                background-color: #189E99;
            }

            h3 {
                font-size: 20px;
                font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                font-weight: 500;
                color: #333333;
                line-height: 0px;
                padding: 0 0 0 5px;
            }
        }

        .card-content {
            flex: 1;
            display: flex;
            flex-direction: column;

            .params-msg {
                flex: 1;
                padding: 0px 2rem;
                display: flex;
                flex-direction: column;

                .el-form-item {
                    margin: unset !important;
                    padding: 1rem 0 !important;

                    .el-form-item__content {
                        display: flex !important;

                        .comp {
                            margin-left: 1rem;
                            font-size: 16px;
                        }
                    }

                    .el-form-item__label {
                        &::before {
                            content: none !important;
                        }

                        .form-left {
                            display: flex;
                            align-items: center;

                            .text {
                                font-size: 16px;
                                color: #000000;
                                margin-left: 1rem;
                            }
                        }
                    }
                }

                .row-params-status {
                    display: flex;
                    padding: 1rem 0;

                    .left-text {
                        display: flex;
                        align-items: center;
                        margin-right: 3rem;
                        flex-basis: 50%;
                        height: 2.6rem;

                        p {
                            margin-left: 1rem;
                        }
                    }

                    .right-text {
                        display: flex;
                        align-items: center;
                        flex: 1;


                        input::-webkit-input-placeholder,
                        textarea::-webkit-input-placeholder {
                            font-size: 14px;
                            font-family: Source Han Sans CN-Normal, Source Han Sans CN;
                            font-weight: 400;
                            color: #C9C9C9
                        }


                        .el-input__inner {
                            width: 15rem;
                            border-radius: 2px 2px 2px 2px;
                            border: 1px solid #CCD5DE;
                        }

                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }

                        .el-dropdown-link {
                            width: 5rem;
                            cursor: pointer;
                            color: #006F6B;
                        }

                        .el-icon-arrow-down {
                            font-size: 12px;
                        }

                        .fill {
                            flex-basis: 40%;
                        }

                        .value {
                            font-size: 24px;
                            font-family: LcdD;
                            font-weight: 400;
                            line-height: 0px;
                            color: #006F6B;
                        }

                        .off-gap {
                            width: 6px;
                            height: 6px;
                            background: #C1C1C1;
                            border-radius: 50%;
                        }

                        .on-gap {
                            width: 6px;
                            height: 6px;
                            background: #006F6B;
                            border-radius: 50%;
                        }

                        .comp {
                            margin-left: 1rem;
                        }

                        .gap-comp {
                            margin-left: .5rem;
                        }
                    }
                }
            }

            .params-button {
                flex: 1;
                padding-top: 4rem;
                display: flex;
                justify-content: center;

                .el-button {
                    height: 4rem;
                    width: 23rem;
                    background-color: #006F6B;
                    color: #FFFFFF;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }

        .params-content {
            .params-msg {
                .row-params-status {
                    .left-text {
                        flex-basis: 43%;
                        margin-right: 0;
                    }

                    // .loudian-status {
                    //     flex-basis: 37%;
                    // }

                    .right-text {
                        .el-input {
                            flex-basis: 70%;

                            .el-input__inner {
                                width: 12rem;
                            }
                        }
                    }
                }
            }

            .params-button {
                padding-left: 4rem;
                padding-right: 4rem;
            }
        }
    }

    .clearance {
        width: 20px;
    }
}