.params-setting {
    display: flex;
    width: 100%;
    flex: 1;

    .card-box {
        border-radius: 10px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        width: 49%;

        .title {
            display: flex;
            align-items: center;
            padding: 0 17px;
            height: 8%;

            .tip-color {
                width: 0.4rem;
                height: 1.1rem;
                margin-right: 5px;
                background-color: #189E99;
            }

            h3 {
                font-size: 1.5vw;
                font-family: 'Source Han Sans CN-Medium, Source Han Sans CN';
                font-weight: 500;
                color: #333333;
                padding: 0 0 0 5px;
            }
        }

        .card-content {
            flex: 1;
            display: flex;
            flex-direction: column;

            .params-msg {
                height: 57%;
                padding: 0 29.4% 0 17.6%;
                display: flex;
                flex-direction: column;

                .el-form-item {
                    margin: unset !important;
                    padding: 1rem 0 !important;

                    .el-form-item__content {
                        display: flex !important;

                        .comp {
                            margin-left: 0.4rem;
                            font-size: 1.1vw;
                            font-family: Source Han Sans CN-Regular, Source Han Sans CN;
                            font-weight: 400;
                            color: #333333;
                        }

                        .el-select{
                            width: 90.5% !important;
                            .el-input{
                                width: 100% !important;
                            }
                        }

                        .el-input{
                            width: 90.5% !important;
                            flex-shrink: 0;
                        }
                    }

                    .el-form-item__label {
                        padding: 0 30px 0 0 !important;
                        width: 51% !important;
                        &::before {
                            content: none !important;
                        }

                        .form-left {
                            display: flex;
                            align-items: center;
                            p{
                                font-size: 1.1vw !important;
                                font-family: Source Han Sans CN-Regular, Source Han Sans CN !important;
                                font-weight: 400 !important;
                                color: #333333 !important;
                            }

                            .text {
                                font-size: 1.2vw;
                                color: #000000;
                                margin-left: 0.6rem;
                            }
                        }
                    }
                }

                .row-params-status {
                    display: flex;
                    flex: 1;
                    padding: 1rem 0;

                    .left-text {
                        display: flex;
                        align-items: center;
                        flex-basis: 71%;
                        .img{
                            width: 2vw;
                            height: 2vw;
                        }
                        .edingyuzhi{
                            background: url("../../../assets/img/edingyuzhi.png");
                            background-repeat: no-repeat;
                            background-size: 100%;
                        }
                        .loudianbaohu{
                            background: url("../../../assets/img/loudianbaohu.png");
                            background-repeat: no-repeat;
                            background-size: 100%;
                        }
                        .yuzhibaohu{
                            background: url("../../../assets/img/yuzhibaohu.png");
                            background-repeat: no-repeat;
                            background-size: 100%;
                        }
                        .edingloudian{
                            background: url("../../../assets/img/edingloudian.png");
                            background-repeat: no-repeat;
                            background-size: 100%;
                        }
                        p {
                            margin-left: 0.6rem;
                            font-size: 1.1vw;
                            font-family: Source Han Sans CN-Regular, Source Han Sans CN;
                            font-weight: 400;
                            color: #333333;
                        }
                    }
                    .switch-text{
                        justify-content: flex-start !important;
                    }

                    .right-text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex: 1;

                        input::-webkit-input-placeholder,
                        textarea::-webkit-input-placeholder {
                            font-size: 1.1vw;
                            font-family: Source Han Sans CN-Normal, Source Han Sans CN;
                            font-weight: 400;
                            color: #C9C9C9
                        }


                        .el-input__inner {
                            width: 15rem;
                            border-radius: 2px 2px 2px 2px;
                            border: 1px solid #CCD5DE;
                        }

                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }

                        .el-dropdown-link {
                            width: 5rem;
                            cursor: pointer;
                            color: #006F6B;
                        }

                        .el-icon-arrow-down {
                            font-size: 1vw;
                        }

                        .fill {
                            flex-basis: 40%;
                        }

                        .value {
                            line-height: 1;
                            font-size: 1.9vw;
                            font-family: font-demo;
                            font-weight: 400;
                            color: #006F6B;
                        }

                        .off-gap {
                            width: 6px;
                            height: 6px;
                            background: #C1C1C1;
                            border-radius: 50%;
                        }

                        .on-gap {
                            width: 6px;
                            height: 6px;
                            background: #006F6B;
                            border-radius: 50%;
                        }

                        .comp {
                            font-size: 1.1vw;
                            font-family: Source Han Sans CN-Regular, Source Han Sans CN;
                            font-weight: 400;
                            color: #333333;
                        }

                        .gap-comp {
                            margin-left: .5rem;
                            font-size: 1.1vw;
                            font-family: Source Han Sans CN-Regular, Source Han Sans CN;
                            font-weight: 400;
                            color: #333333;
                        }
                    }
                }
            }

            .right-msg{
                padding: 0 11% 0 11.8% !important;
                .el-form{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .el-form-item{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        .el-form-item__content{
                            flex: 1;
                            margin-left: 0 !important;
                        }
                        .el-form-item__label{
                            .form-left{
                                .img{
                                    width: 2vw;
                                    height: 2vw;
                                }
                                .edingyuzhi{
                                    background: url("../../../assets/img/edingyuzhi.png");
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                }
                                .loudianbaohu{
                                    background: url("../../../assets/img/loudianbaohu.png");
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                }
                                .yuzhibaohu{
                                    background: url("../../../assets/img/yuzhibaohu.png");
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                }
                                .edingloudian{
                                    background: url("../../../assets/img/edingloudian.png");
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .params-button {
                flex: 1;
                padding-top: 4rem;
                display: flex;
                justify-content: flex-start;
                width: 55%;

                .el-button {
                    height: 23%;
                    width: 100%;
                    background-color: #006F6B;
                    color: #FFFFFF;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
            .left-button{
                margin: 0 27.2% 0 18.1% !important;
            }
            .right-button{
                margin: 0 22.3% 0 22.9% !important;
            }
        }

        .params-content {
            .params-msg {
                .row-params-status {
                    .left-text {
                        flex-basis: 43%;
                        margin-right: 0;
                    }

                    .right-text {
                        .el-input {
                            flex-basis: 70%;

                            .el-input__inner {
                                width: 12rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .clearance {
        width: 20px;
    }
}